blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin:0;padding:0
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%
}
address,cite,dfn,em,var {
    font-style:normal
}
code,kbd,pre,samp {
    font-family:courier new,courier,monospace
}
small {
    font-size:12px
}
ol,ul {
    list-style:none
}
a {
    text-decoration:none
}
address, cite, dfn, em, var {
    font-style: normal;
} /* 将斜体扶正 */
/* 重置列表元素 */
ul, ol { list-style: none; }
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
legend {color:#000}
fieldset,img {border:0}
button,input,select,textarea {font-size:100%}  /*表单下ie8能够继承字体*/
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
table {border-collapse:collapse;border-spacing:0}
/* 重置 hr */
 hr {border: none;height:1px;}
 body{
     -webkit-font-smoothing: antialiased;
     font: 14px/1.5 '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'sans-serif';
 }