<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1">
    <title>DCT</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    
</head>

<body>
    <!--[if lt IE 9]>
        <div class="browser-happy">
            <div class="content">
                <p>你的浏览器版本过低，请更换为最新版</p>
                <a href="http://browsehappy.com">立即更新</a>
            </div>
        </div>
    <![endif]-->
    <div class="header">
        <div class="logo">
            <a class="centerlogo" href="/" target="_self" title="返回首页">
                <h1>数文三维文物展示平台</h1>
            </a>
        </div>
        <%- include('components/nav') %>
    </div>
    
  